*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.l-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(229, 57%, 11%);
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.dashboard {
    max-width: 900px;
    display: grid;
    grid-template-columns: 300px 500px;
}

.dashboard__head {

    padding: 30px;
    padding-bottom: 20px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 90px 10px 10px;
}

.dashboard__menu {
    margin: 25px 0 10px;
    display: flex;
}

.dashboard__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 10px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
}

.dashboard__image {
    width: 20px;
}

.dashboard__info {
    align-self: end;
    margin-left: 30px;
    padding: 30px;
    color: white;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
}

.dashboard__fore {
    position: relative;
}

.dashboard__storage-info {
    color: hsl(243, 100%, 93%);
}

.dashboard__storage-info-number {
    font-weight: bold;
}

.dashboard__progress-wrapper {
    position: relative;
    margin: 15px 0 10px;
    width: 100%;
    height: 20px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
}

.dashboard__progress-bar {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 81.5%;
    height: 14px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
}

.dashboard__progess-circle {
    position: absolute;
    right: 2px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
}

.dashboard__progess-info {
    display: flex;
    justify-content: space-between;
}

.dashboard__storage-left {
    position: absolute;
    top: -80px;
    right: 0;
    padding: 20px;
    color: hsl(229, 7%, 55%);
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.dashboard__storage-left::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(45deg, transparent 50%, white 0, white 50%);
}

.dashboard__storage-left-info {
    font-size: 12px;
}

.dashboard__storage-left-number {
    color: hsl(229, 57%, 11%);
    font-weight: bold;
    font-size: 30px;
}